table.unstyledTable {
    font-family: "Times New Roman", Times, serif;
    background-color: #C458FF;
    height: 208px;
    text-align: center;
    border-collapse: collapse;
  }
  table.unstyledTable td, table.unstyledTable th {
    border: 1px solid #0925AA;
    padding: 7px 9px;
  }
  table.unstyledTable tbody td {
    font-size: 18px;
    font-weight: bold;
    color: #040433;
  }
  table.unstyledTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  body {
    background: rgba(18,7,62,0.92) repeat scroll 50px 50px;
    }
  .signupform {
      background :rgba(136, 117, 211, 0.979) url('./img.png');
  }  
  h1 {
      color : purple;
  }

